@import '~assets/styles/variables'

html, body
  height 100%
  overflow hidden

body
  width 100%

  color $content
  font-size $fontSmall
  background $background
  text-align center
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased

input
  border none
  outline none
  background transparent
